@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.button {
    
    margin-top: 2em;
    background-color: #3A3636;
    border: 1px solid #D3B881;
    color: #D3B881;
    padding: 1em 3em;
    font-size: .8em;
    font-family: Noto Sans;
    display: flex;
    border-radius: 1em 0em;
    cursor: pointer;

    img {
        width: 1.5em;
        margin-left: .6em;
    }

    a {
        text-decoration: none;
        color: #D3B881;
        display: flex;
    }
}

.button_small {
    
    display: flex;
    width: 24px;
    height: 24px;
    padding: 1em;
    border: 0.5px solid #D3B881;
    background: #3A3636;
}

h1 {
    margin: 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    color: #FFFCF2;
    line-height: 1.3em;
}

h4 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: .8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3A3636;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    color: #D3B881;
}

.p1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.8em;
    display: flex;
    align-items: center;
    color: #D3B881;
}

.mobile_nav {

    header {

        width: 100%;
        padding: 1.2em;
        position: fixed;
        top: 0;
        display: block;
        background-color: #272727;
        z-index: 999;
    
        h1 {
            margin: 0;
            float: left;
            display: flex;
            align-items: center;
            color: aliceblue;
            font-size: 1.4em;
        }
    
        ul {
            margin: 0;
            width: 80px;
            float: right;
            display: flex;
            list-style-type: none;
            cursor: pointer;
        }
    
    }
}

.hero {

    width: 100wh;
    height: 100vh;

    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/hero_img.png');

    background-size: cover;
    background-position: center;

    .flexbox {
        position: absolute;
        top: 65%;
        left: 30%;
        transform: translate(-30%, -65%);
    }

}

.experience {

    padding: 4em 0em;
    
    h1 {
        color: #3A3636;
    }
    
}

.about {

    padding: 2em 0em;

    img {
        width: 100%;
    }

    h2 {
        margin-top: 2em;
    }

    .about_img {
        display: none;
    }

    .about_bg {
        width: 100%;
        height: 680px;
        margin-top: -38em;
        background: #3A3636;
        box-shadow: 0px 6px 32px 8px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: -100;
    }

    .about_img_main {
        
        width: 100%;
        height: 500px;
        object-fit: cover;
        position: relative;
        z-index: -200;
    }

    .button {

        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -2em;

        img {
            width: 1.5em;
            margin-left: .6em;
        }
    }

}

.residence {

    padding: 2em 0em;

    .room_container {

        padding: 2em;
        background: #FFFCF2;
        border-radius: 0px 40px 0px 0px;        
    }

    .room_container_stroke {
        width: 100%;
        height: 1em;
        background-color: #D3B881;
    }

    img {
        max-width: 100%;
        display: block;
    }

    h2 {
        padding: 0;
        margin: 0;
        color: #3A3636;
    }

    .p1 {
        color: #3A3636;
    }

    .button {
        display: flex;
        padding: 1em 1em;

        img {
            width: 1.5em;
            margin-left: 0em;
        }
    }

}