@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.button {
    
    margin-top: 2em;
    background-color: #3A3636;
    border: 1px solid #D3B881;
    color: #D3B881;
    padding: 1.5em 3em;
    font-size: .8em;
    font-family: Noto Sans;
    display: flex;
    border-radius: 1em 0em;
    cursor: pointer;

    img {
        width: 1.5em;
        margin-left: .6em;
    }

    a {
        text-decoration: none;
        color: #D3B881;
        display: flex;
    }
}

.button_small {
    
    display: flex;
    width: 24px;
    height: 24px;
    padding: 1em;
    border: 0.5px solid #D3B881;
    background: #3A3636;
}

h1 {
    margin: 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    color: #FFFCF2;
    line-height: 1.3em;
}

h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3A3636;
}

h4 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: .8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3A3636;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    color: #D3B881;
}

.p1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.8em;
    display: flex;
    align-items: center;
    color: #D3B881;
}

.mobile_nav {

    header {

        width: 100%;
        padding: 1.2em;
        position: fixed;
        top: 0;
        display: block;
        background-color: #272727;
        z-index: 999;
    
        h1 {
            margin: 0;
            float: left;
            display: flex;
            align-items: center;
            color: #D3B881;
            font-size: 1.4em;
        }
    
        ul {
            margin: 0;
            width: 80px;
            float: right;
            display: flex;
            list-style-type: none;
            cursor: pointer;
        }
    
    }
}

.hero {

    width: 100wh;
    height: 100vh;

    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/hero_img.png');

    background-size: cover;
    background-position: center;

    .flexbox {
        position: absolute;
        top: 65%;
        left: 30%;
        transform: translate(-30%, -65%);
    }

}

.experience {

    padding: 4em 0em;
    
    h1 {
        color: #3A3636;
    }
    
}

.about {

    padding: 2em 0em 0em 0em;

    img {
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h2 {
        margin-top: 2em;
    }

    .about_img {
        display: none;
    }

    .about_bg {
        width: 100%;
        height: 550px;
        margin-top: -30em;
        background: #3A3636;
        box-shadow: 0px 6px 32px 8px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: -100;
    }

    .about_img_main {
        
        width: 100%;
        height: 500px;
        object-fit: cover;
        position: relative;
        z-index: -200;
        box-shadow: none;
    }

    .button {

        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -3em;

        img {
            width: 1.5em;
            margin-left: .6em;
            box-shadow: none;
        }
    }

}

.residence {

    img {
        max-width: 100%;
        display: block;
    }

    .room_container {

        padding: 1.5em;
        background: #3A3636;       
    }

    .room_container_stroke {
        width: 100%;
        height: 1em;
        background-color: #D3B881;
    }

    h2 {
        padding: 0;
        margin: 0;
        color: #FFFFFF;
    }

    .p1 {
        color: #FFFFFF;
    }

    .button {
        display: flex;
        padding: 1em 1em;

        img {
            width: 1.5em;
            margin-left: 0em;
        }
    }

    .room {
        margin: 4em 0em;
    }

}

.gallery {

    h1 {
        color: #3A3636;
    }

    .support_line {

        position: absolute;
        width: 120px;
        right: 2.5em;
        margin-top: -1.8em;
        border-bottom: .5px solid rgba(164, 164, 164, 1);
    
    }

    .swiper {
        margin-left: 2em;
        padding: 3em 0em 3em 0em;
        width: 100%;
        height: 350px;
      }

    .swiper-slide {
        text-align: center;
        width: 80%;
        font-size: 18px;
        background: #fff;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination-bullet {
        background-color: #3A3636;
        width: .4em;
        height: .4em;
    }
    
    .swiper-pagination {
        text-align: left;
    }
    
    .swiper-pagination-bullet-active {
        color:#fff;
        background: #D3B881;
    }

}

.exclusive_experiences {

    padding: 2em 0em;

    h1 {
        color: #3A3636;
    }

    .support_line {
        width: 160px;
        margin-top: 1.5em;
        border-bottom: .5px solid rgba(164, 164, 164, 1);
    }

    .grid-container {

        margin-top: 4em;
        width: 100%;
        display: grid;
        grid-auto-flow: row;
        gap: 1em;

        .button {
            margin-top: -2em;
            margin-left: 2em;
        }

        h2 {
            color: #3A3636;
            margin-top: 0em;
        }

        .p1 {
            color: #3A3636;
        }

        img {
            width: 100%;
            display: block;
        }

        .exp_container {
            padding: 2em;
            background: #D3B881; 
        }

        .support_line {

            width: 200px;
            margin-top: 0em;
            border-bottom: .5px solid rgba(0, 0, 0, .25);
        }
    }

    .grid-item {
        margin: 2em 0em;
    }
    
}

.social {
    
    padding: 0em 0em 2em 0em;
    text-align: center;

    .support_line {
        margin: 0 auto;
        width: 160px;
        border-bottom: .5px solid rgba(164, 164, 164, 1);
    }

    h1 {
        margin: 1em 0;
        color: #3A3636;
    }

    a {
        text-decoration: none;
        color: #D3B881;
        cursor: pointer;
    }

    a:hover {
        color: #3A3636;
    }

}

.footer {

    padding: 4em 0em;
    background-color: #FFFCF2;

    h1 {
        color: #3A3636;
    }

    .support_line {

        margin: 3em 0;
        width: 160px;
        border-bottom: .5px solid rgba(164, 164, 164, 1);
    
    }

}


